# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Local Development files/folders.
.env
.wp-env.override.json
phpcs.xml
phpstan.neon
phpunit.xml
grumphp.yml
.phpunit.result.cache
clover.xml

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
tags.*
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache
node_modules
vendor
dist

# WordPress Development environment directories to ignore.
tools/local-env/wp
tools/local-env/wp-content/db.php
tools/local-env/wp-content/.litespeed_conf.dat
tools/local-env/wp-content/cache/*
tools/local-env/wp-content/ewww/*
tools/local-env/wp-content/litespeed/*
!tools/local-env/wp-content/plugins/
tools/local-env/wp-content/plugins/*
tools/local-env/wp-content/themes/*
tools/local-env/wp-content/uploads/*
tools/local-env/wp-content/upgrade/*

# Local Development Exceptions.
!tools/local-env/wp-content/mu-plugins/*
!tools/local-env/wp-content/plugins/.gitkeep
!tools/local-env/wp-content/plugins/daggerhart-openid-connect-generic/.gitkeep

