name: Internationalization

on:
  pull_request:
  push:
    branches:
      - dev
      - main
      - 'release/**'
      - 'feature/**'
      - 'fix/**'

env:
  WP_MULTISITE: 0

jobs:
  check:
    name: Setup & Check

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Setup Node Environment
      uses: actions/setup-node@v1
      # https://github.com/marketplace/actions/setup-node-js-environment
      with:
        node-version: 14.x

    - name: Cache node modules
      uses: actions/cache@v2
      env:
        npm-cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.npm-cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.npm-cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: NPM Install
      run: npm ci

    - name: Check i18n Compliance
      run: npm run i18n:check
